.idea/
.vscode/
.DS_Store
**/cache/*
**/secrets/*
**/out/*
**/dist/*
**/lib/*
**/target/*
**/coverage/*
**/*.log
!**/.gitkeep
**/.env
*.env
!*.example.*

## Common

npm-debug.log
**/node_modules/
.nyc_output
*.tsbuildinfo
**/wrangler.toml
*.js.map

# Project Specific

secrets.ts
electron-builder.yml
notarize.env
