productName: Now Playing for Spotify
appId: com.teaminkling.now-playing-for-spotify

copyright: MIT

mac:
  category: public.app-category.music
  target: dmg
  icon: src/img/icon.png

files: ["src/**/*", "package.json", ".env.json"]

asarUnpack: ["./node_modules/node-notifier/vendor/**"]
